* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.verses {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-input {
    display: flex;
    flex-direction: column;
}

#vs {
    font-size: 2em;
    font-weight: bold;
}

.current-turn {
    background-color: rgb(58, 224, 58);
}

table {
    border: 1px solid black;
}

td {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    font-size: 5em;
}