* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.verses {
    height: 115px;
    width: 550px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-input {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.player1-name, .player2-name {
    width: 200px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#vs {
    font-size: 2em;
    font-weight: bold;
}

.current-turn {
    background-color: rgb(58, 224, 58);
}

.winner-display {
    height: 20px;
}

table {
    border: 1px solid black;
}

td {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    font-size: 5em;
}

.play-again {
    margin: 50px 20px 0px 0px;
}

.hidden {
    display: none;
}