@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-color: #FFF1DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.verses {
    height: 115px;
    width: 550px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-input {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.player1-name, .player2-name {
    width: 200px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#vs {
    font-size: 2em;
    font-weight: bold;
}

.current-turn {
    background-color: rgb(58, 224, 58);
}

.winner-display {
  height: 115px;
  padding-top: 50px;
  color: blue;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again {
    height: 120px;
    display: flex;
    align-items: center;
}

.play-again-button {
    height: 30px;
    width: 120px;
}

table {
    border-collapse: collapse;
    outline: 2px solid rgba(0, 0, 0, 0.123);
    outline-offset: 15px;
}

td {
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 5em;
    font-family: 'Permanent Marker';
}

#center {
    border: 5px solid black;
}

#top-left {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

#top-right {
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}

#bottom-left {
    border-right: 5px solid black;
    border-top: 5px solid black;
}

#bottom-right {
    border-left: 5px solid black;
    border-top: 5px solid black;
}

.reset-button {
    margin-top: 50px;
    height: 25px;
    width: 100px;
}

.hidden {
    display: none;
}